<h1>Tienda online - Productos en tiempo real</h1>
  <div>
    <h2>Estas en tu tienda {{user.full_name}} </h2>
    <p>Hola! Hola!  bienvenid@ :D</p>
    <p>Te logueaste con {{user.email}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>
<script src="/js/products.js"></script>